node_modules/
vendor/
templates/
templates/inject/scripts-legacy.twig
templates/inject/scripts-modern.twig
templates/inject/styles.twig
var/
exports/
/public/bundles/

.DS_Store
*.log

/.env.local
/.env.local.php
/.env.*.local