/**
 * Power function
 * @see https://css-tricks.com/snippets/sass/fix-number-n-digits/
 * @param {Number} $x
 * @param {Number} $n
 * @return {Number}
 */
@function pow($x, $n) {
  $ret: 1;
    
  @if $n >= 0 {
    @for $i from 1 through $n {
      $ret: $ret * $x;
    } 
  } @else {
    @for $i from $n to 0 {
      $ret: $ret / $x;
    }
  }
  
  @return $ret;
}