{% extends app.request.isAjax() ? 'layouts/ajax.twig' : 'layouts/default.twig' %}

{% block content %}

<section class="page" id="home-page">
  <h1>home</h1>
  {{ svg('img/marker', {attr: {class: 'inline-svg', id: 'marker-1'}}) }}
</section>

{% endblock %}

